/* Header-Left */
#img-logo {
  width: 60px; /* Adjust the size as needed */
  height: 60px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s;
}

#img-logo:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  cursor: pointer;
  transition: 0.5s;
}
.btn-login {
  border: 1px solid;
  transition: 0.5s;
}
.btn-login:hover {
  border: 1px solid;
  color: white;
  background-color: #00c7ff;
  transform: scale(1.1);
  transition: 0.5s;
}
.btn-register {
  border: 1px solid;
  transition: 0.5s;
}
.btn-register:hover {
  border: 1px solid;
  color: white;
  background-color: #00c7ff;
  transform: scale(1.1);
  transition: 0.5s;
}
.btn-icon {
  transition: 0.5s;
}
.btn-icon:hover {
  border: 1px solid;
  color: white;
  background-color: #00c7ff;
  transform: scale(1.1);
  transition: 0.5s;
}
#nav{
  background-color: rgba(255, 255, 255, 0.8); /* White color with 50% transparency */
  backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: adds a subtle border */
}
